<h1>HELLO, WORLD :)</h1>

<ul>
    {% for foo in stuff%}
    <li>{{ foo.title }}, by {{ foo.author }}</li>
    <ul>
        <li>{{ foo.body }}</li>
    </ul>
    {% endfor %}
</ul>

<!-- {{ stuff }} -->
<!-- just prrinting out the html stuff -->

{%include "title.partial"%}
<!-- etiher have something present on lots of pages and just imprto it or if 1 eleemnt to be repeated a lot, includes will do this for us -->
<!-- with obj=item -> pass in element called swatvches with element item then obj refers to a specific thing called obj -->
<!-- tex -->